<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.polimi.accounting.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElencoConti</display-name>
    <servlet-name>ElencoConti</servlet-name>
    <servlet-class>it.polimi.accounting.ElencoConti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElencoConti</servlet-name>
    <url-pattern>/conti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistrazione</display-name>
    <servlet-name>ServletRegistrazione</servlet-name>
    <servlet-class>it.polimi.accounting.ServletRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazione</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransazioniDate</display-name>
    <servlet-name>TransazioniDate</servlet-name>
    <servlet-class>it.polimi.accounting.TransazioniDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransazioniDate</servlet-name>
    <url-pattern>/TransazioniDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaConto</display-name>
    <servlet-name>CreaConto</servlet-name>
    <servlet-class>it.polimi.accounting.CreaConto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaConto</servlet-name>
    <url-pattern>/CreaConto</url-pattern>
  </servlet-mapping>
</web-app>